/* Header Section */
.top-header {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	background: #000;
}

.lang-change {
	color: #fff;
}

.main-nav {
	display: flex;
	justify-content: flex-end;
	color: #fff;
	float: right;
}

.main-nav a, .menu a {
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.4s;
}

.main-nav a {
	color: #fff;
	margin-right: 20px;
}

.header {
	height: 100px;
	/*  #34495e; */
	padding: 0 20px;
	color: var(--dark);
}

.logo {
	line-height: 100px;
	float: left;
	text-transform: uppercase;
}

.menu {
	float: right;
	line-height: 100px;
}

.menu a {
	padding: 0 10px;
	color: var(--dark);
}

.show-menu-btn, .hide-menu-btn {
	transition: 0.4s;
	font-size: 30px;
	cursor: pointer;
	display: none;
}
.show-menu-btn {
	float: right;
}

.show-menu-btn i {
	color: var(--dark);
	line-height: 100px;
}

.menu a:hover, .main-nav a:hover, .show-menu-btn:hover, .hide-menu-btn:hover {
	color: #3498db;
}

#chk {
	position: absolute;
	visibilitiy: hidden;
	z-index: -1111;
	display: none;
}

/* Menu Section */

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1050px;
	height: 450px;
	text-align: center;	
}

.intro-img {
	position: relative;
	width: 100%;
	height: 500px;
	padding-top: 20px;
	background: url("img/image3.jpg");
	background-size: auto;
   background-attachment: fixed;
   background-repeat: no-repeat;
	z-index: -11;
}

.intro-img::after {
	content: "";
	position: absolute;
	top: 	0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #00000066;
	z-index: -10;
	display: flex;
}

.lead {
	font-size: 2.5rem;
	animation: appear 2s ease-in;
}

.lead, .caption {
	margin-top: 15%;
	z-index: 111;
	color: #fff;
}

.caption {
	transition: 0.3s linear;
	font-weight: normal;
	font-size: 1rem;
	margin-top: 5px;
}


@keyframes appear {
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}

.btn {
	width: 100px;
	height: 50px;
	outline: none;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	font-weight: bold;
	color: #fff;
	background: var(--primary);	
}

.action-btn {
	margin-top: 10px;
	text-transform: uppercase;
}

.btn:hover {
	opacity: 0.9;
}

/* Category Section */

.category-section, .products-section {
	display: flex;
	flex-direction: column;
	flex-wrap: no-wrap;
	align-content: center;
	width: calc(100vw - 5%);	
	margin: auto;
}

.section-title {
	padding: 2rem 0 4rem 0;
}

.section-title h2 {
	color: #000;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}

.category-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-auto-rows: 200px;
}

.category-section .category {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
}

.category h2 {
	position: relative;
	text-align: center;
	align-self: center;
	justify-self: center;
	z-index: 111;
	transition: 0.3s ease-in;
	cursor: pointer;
}

.category h2:hover {
	animation: appear 2s ease-in;
}

.desktop-img, .laptop-img, .accessory-img {
	position: relative;
	width: 100%;
	height: 100%;
	padding-bottom: 20px;
	background: url("img/image3.jpg");
	background-size: cover;
   background-attachment: fixed;
   background-repeat: no-repeat;
	z-index: -11;
	color: #fff;
}

.desktop-img::after, .laptop-img::after, .accessory-img::after {
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #00000066;
	z-index: -10;
	display: flex;
}

.products-section {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	border: 1px solid blue;
}

.product-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-auto-rows: 300px;
	grid-gap: 10px;
}

.product-container img {
	width: 100%;
}

/* About Us Section */


/* Contact Section */


.back-to-top {
	display: block;
	width: 100vw;
	padding: 5px;
	background: var(--color);
	cursor: pointer;
	border-radius: 5px;
	color: #fff;
	text-align: center;
}


/* Footer Section */
.footer {
	display: flex;
	flex-direction: column;
}

.footer .website {
	text-align: center;
}

.footer a {
	text-transform: capitalize;	
}


/* Media Queries */

@media screen and (max-width:800px) {
	/* Menu Bar */
	.top-header, .main-nav {
		display: none;
	}
	
	.show-menu-btn, .hide-menu-btn {
		display: block;
	}
	
	.menu {
		position: fixed;
		width: 100%;
		height: 100%;
		background: #333;
		right: -100%;
		top: 0;
		text-align: center;
		padding: 80px 0;
		line-height: normal;
		transition: 0.7s;
		z-index: 999;
	}
	
	.menu a {
		display: block;
		padding: 20px;
		color: var(--light);
	}
	
	.hide-menu-btn {
		position: absolute;
		top: 40px;
		right: 40px;
		
	}
	
	.hide-menu-btn i {
		color: var(--light);
	}
	
	#chk:checked ~ .menu {
		right: 0;
	}
	
	/* Category & Product Section */
	.category-container, .product-container {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
	}
	
}
