

.top-header {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	background: #000;
}

.lang-change {
	color: #fff;
}

.main-nav {
	display: flex;
	justify-content: flex-end;
	color: #fff;
	float: right;
}

.main-nav a, .menu a {
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.4s;
}

.main-nav a {
	color: #fff;
	margin-right: 10px;
}

.header {
	height: 100px;
	/*  #34495e; */
	padding: 0 20px;
	color: var(--dark);
}

.logo {
	line-height: 100px;
	float: left;
	text-transform: uppercase;
}

.menu {
	float: right;
	line-height: 100px;
}

.menu a {
	padding: 0 10px;
	color: var(--dark);
}

.show-menu-btn, .hide-menu-btn {
	transition: 0.4s;
	font-size: 30px;
	cursor: pointer;
	display: none;
}
.show-menu-btn {
	float: right;
}

.show-menu-btn i {
	color: var(--dark);
	line-height: 100px;
}

.menu a:hover, .main-nav a:hover, .show-menu-btn:hover, .hide-menu-btn:hover {
	color: #3498db;
}

#chk {
	position: absolute;
	visibilitiy: hidden;
	z-index: -1111;
	display: none;
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1050px;
	height: 450px;
	text-align: center;	
}

.intro-img {
	position: relative;
	width: 100%;
	height: 500px;
	padding-top: 20px;
	background: url("../img/image3.jpg");
	background-size: auto;
   
   background-attachment: fixed;
   background-repeat: no-repeat;
	z-index: -11;
}

.intro-img::after {
	content: "";
	position: absolute;
	top: 	0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #00000066;
	z-index: -10;
	display: flex;
}


.lead {
	font-size: 2.5rem;
	animation: appear 2s ease-in;
}

.lead, .caption-left, .caption-right {
	margin-top: 15%;
	z-index: 111;
	color: #fff;
}


.caption-left, .caption-right {
	transition: 0.3s linear;
	font-weight: normal;
	font-size: 1rem;
	margin-top: 5px;
}

.caption-left {
	animation: fromLeft 3.5s ease-in;
}

.caption-right {
	bottom: 140px;
	animation: fromRight 3.5s ease-in;
}

@keyframes appear {
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}

@keyframes fromLeft {
	0 {
		left: -1000px;
		opacity: 0;
		
	}
	
	50% {
		opacity: 1;
		left: 10%;
	}
	
	100% {
		left: -1000px;
		opacity: 0;
	}
	
}

@keyframes fromRight {
	from {
		right: -1000px;
		opacity: 0;
		
	}
	
	to {
		opacity: 1;
		right: 10%;
	}
}

.btn {
	width: 100px;
	height: 50px;
	outline: none;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	font-weight: bold;
	color: #fff;
	background: var(--primary);	
}

.action-btn {
	margin-top: 10px;
}

.btn:hover {
	opacity: 0.9;
}

.category-section, .category-container {
	margin-top: 1rem;
}

.category-section {
	max-width: 90%;
}

.category-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-gap: 3px;
}

.category-section h2 {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	margin: auto;
	padding: 10px;
}

.category-section .category {
	width: 100%;
	height: 200px;
	background: blue;
}

.category h2 {
	position: relative;
	text-align: center;
	margin: 0 auto;
	border: 1px solid green;
}

.products-section {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	border: 1px solid blue;
}

.product-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.product-container img {
	width: 33%;
	height: 300px;
}


/*

.background-image {
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content:	center;
	align-items: center;
}

.fitBg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.8;
}

/* Section */

/*  
.intro-page {
	display: flex;
	width: 100%;
	height: 500px;
	border: 1px solid green;
	background: var(--secondary);
}

.intro-page::before, .intro-page::after {
	content: '';
	width: 100%;
	height: auto;
}

.caption-left, .caption-right {
	display: none;
	font-size: 30px;
	color: var(--dark);
	text-align: center;
}

.intro-page::before {
	border: 1px solid yellow;
	background: url('image1.jpg') top right/cover;
	clip-path: polygon(0 0, 0% 100%, 100% 0);
	-webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.intro-page::after {
	float: right;	
	border: 1px solid blue;
	background: url('image2.jpg') center center/cover;
	clip-path: polygon(100% 0, 0 100%, 100% 100%);
	-webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
}


.caption-left, .caption-right {
	display: inline-block;
	position: absolute;
	font-size: 1.2rem;
	color: #333;
	text-transform: uppercase;
	margin: auto 1rem auto 0;
	z-index: 3;
}

.caption-left {
	bottom: 130px;
	left: 0;
}

.caption-right {
	top: 100px;
	right: 0;
}

*/

.footer {
	display: flex;
	flex-direction: column;
}


/* End of Intro Section */

@media screen and (max-width:800px) {
	
	.top-header, .main-nav {
		display: none;
	}
	
	.show-menu-btn, .hide-menu-btn {
		display: block;
	}
	
	.menu {
		position: fixed;
		width: 100%;
		height: 100%;
		background: #333;
		right: -100%;
		top: 0;
		text-align: center;
		padding: 80px 0;
		line-height: normal;
		transition: 0.7s;
		z-index: 999;
	}
	
	.menu a {
		display: block;
		padding: 20px;
		color: var(--light);
	}
	
	.hide-menu-btn {
		position: absolute;
		top: 40px;
		right: 40px;
		
	}
	
	.hide-menu-btn i {
		color: var(--light);
	}
	
	#chk:checked ~ .menu {
		right: 0;
	}
	
	.product-container {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
	}
	
}
